.said-content
  .said-content-head
    %p.task タスク一覧
    %li.said-content-head-box-edit 
      = link_to "#" do
        タスクの追加
        = icon('fa', 'edit', class: 'icon')
 
  .said-content-body
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
    .tasks 
      .tasks-name 通院
      .tasks-text Bさん 〇〇病院へ
      .tasks-day 2020/11/23 12:30〜
   
   
  .said-content-footer