.main-index
  .main-index-head
    .main-index-head-contet
      %p Welcame to
      %p Task sheares!!
  .main-index-footer
    .main-index-footer-form
      %a.btn-text-a{:href => "#"} 登録する
      %a.btn-text-b{:href => "/tasks"} 共有する
