.oowaku
  .head
  .main
    %p 作業名
    %input.textbox_a{:name => "task_name", :placeholder => "作業名を入力して下さい", :type => "text"}/
    %p 作業内容
    %textarea.textbox_b{:cols => "60", :rows => "10", :placeholder => "作業内容を入力して下さい", :type => "text"}

