.wrapper
  .head
    .head-l 
      %li bbb
      %li aaa
  .said-content
    .said-content-head
      %p.task タスク一覧
      %li.said-content-head-box-edit 
      %a{:href => "javascript:window.open('/komado', 'window', $features);"}
        = icon('fa', 'edit', class: 'icon')
        タスクの追加

  .said-content-body
    .task-box
      .tasks 
        .tasks-name 
          =@task.first
          =@task.last
          
        .tasks-text 

        .tasks-day
  


  .said-content-footer