.wrapper
  .head
    .head-l 
      %li Taskーshare株式会社
      %li タスク表示課
  .said-content
    .said-content-head
      %p.task タスク一覧
      %li.said-content-head-box-edit 
        = link_to "/komado" do
          = icon('fa', 'edit', class: 'icon')
          タスクの追加

  .said-content-body
    .task-box
      .tasks 
        .tasks-name タスク：通院
        .tasks-text 詳細:Bさん 〇〇病院へ
        .tasks-day 2020/11/23 12:30〜
    .task-box
      .tasks 
        .tasks-name 通院
        .tasks-text Bさん 〇〇病院へ
        .tasks-day 2020/11/23 12:30〜
    .task-box
      .tasks 
        .tasks-name 通院
        .tasks-text Bさん 〇〇病院へ
        .tasks-day 2020/11/23 12:30〜
    .task-box
      .tasks 
        .tasks-name 通院
        .tasks-text Bさん 〇〇病院へ
        .tasks-day 2020/11/23 12:30〜
    .task-box
      .tasks 
        .tasks-name 通院
        .tasks-text Bさん 〇〇病院へ
        .tasks-day 2020/11/23 12:30〜
    .task-box
      .tasks 
        .tasks-name やること：通院
        .tasks-text 詳細：Bさん 〇〇病院へ
        .tasks-day 2020/11/23 12:30〜
    .task-box
      .tasks 
        .tasks-name 通院
        .tasks-text Bさん 〇〇病院へ
        .tasks-day 2020/11/23 12:30〜




  .said-content-footer