.wrapper
  .head
    .head-l 
      %li 株式会社 Task-shear
      %li Task管理課
  .said-content
    .said-content-head
      %p.task タスク一覧
      %li.said-content-head-box-edit 
      %a{:href => "javascript:window.open('/komado', 'window', $features);"}
        = icon('fa', 'edit', class: 'icon')
        タスクの追加

  .said-content-body
    - @tasks.each_with_index do |task,index| 
      .task-box{:id => "task-box_#{index}"}
        .tasks 
          .task-d-h
            %a{:href  => edit_task_path(task.id)}編集
            %a{"data-method" => "delete", :href => task_path(task.id), :rel => "nofollow"} 削除
          .tasks-name 
            作業名：
            =task.name
          .tasks-text 
            作業内容：
            =task.tasktext
          %button{:id => "img_open_#{index}"} 確認
          %img{:src => "https://t.pimg.jp/035/424/702/1/35424702.jpg"}/
          .tasks-day
            =task.created_at.strftime("%Y年%m月%d日 %H時%M分")
          

